body {
    background-color: hsl(235, 16%, 14%);
    background-repeat: no-repeat;
    font-family: "Red Hat Text", monospace;
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
    pointer-events: none;
    user-select: none;
}

/* Classes */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.increment {
    color: hsl(237, 18%, 59%);
}

.title {
    color: white;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flipper {
    background: hsl(236, 21%, 26%);
}

.spacer {
    gap: 10px;
}

.background_image {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
}